- name: Windows Block
  block:
    - name: CrowdStrike Falcon Installer | Starting Falcon Sensor Service (Windows)
      ansible.windows.win_service:
        name: csfalconservice
        state: "{{ falcon_service_state | default('started') }}"
        start_mode: auto
      when:
        - falcon_cid

    - name: CrowdStrike Falcon Installer | Remove any AID Key
      ansible.windows.win_regedit:
        path: "{{ item }}"
        state: absent
        delete_key: true
      loop:
        - 'HKLM:\SYSTEM\CrowdStrike\{9b03c1d9-3138-44ed-9fae-d9f4c034b88d}\{16e0423f-7058-48c9-a204-725362b67639}\Default\AG'
        - 'HKLM:\SYSTEM\CurrentControlSet\Services\CSAgent\Sim\AG'
      when:
        - falcon_remove_aid
