---
- name: Sensor Update Policy Block
  when:
    - falcon_sensor_update_policy_name
  block:
    # Set falcon_sensor_update_policy_info fact based on platform
    # - name: "CrowdStrike Falcon | Set falcon_sensor_update_policy_info fact based on platform"
    #   ansible.builtin.set_fact:
    #     falcon_sensor_update_policy_info: "{{ falcon_sensor_update_policy_info_linux if falcon_sensor_update_policy_platform == 'Linux' else falcon_sensor_update_policy_info_mac }}"
    - name: "CrowdStrike Falcon | Build Sensor Update Policy API Query"
      ansible.builtin.set_fact:
        falcon_sensor_update_policy_filter: "platform_name:'{{ falcon_sensor_update_policy_platform }}'+name.raw:'{{ falcon_sensor_update_policy_name }}'"

    - name: CrowdStrike Falcon | Search for Sensor Update Policy
      crowdstrike.falcon.sensor_update_policy_info:
        auth: "{{ falcon.auth }}"
        filter: "{{ falcon_sensor_update_policy_filter }}"
      register: falcon_sensor_update_policy_info
      delegate_to: localhost

    - name: "CrowdStrike Falcon | Validate Sensor Update Policy request"
      ansible.builtin.fail:
        msg: "No Falcon Sensor Update Policy with name: {{ falcon_sensor_update_policy_name }} was found!"
      when: falcon_sensor_update_policy_info.policies is not defined

    - name: "CrowdStrike Falcon | Validate Sensor Update Policy request for aarch64 architectures"
      ansible.builtin.fail:
        msg: "No Falcon Sensor Update Policy with name: {{ falcon_sensor_update_policy_name }} and enabled for aarch64 was found!"
      when:
        - falcon_sensor_update_policy_info.policies[0].settings.variants[0] is not defined
        - ansible_facts['machine'] == "aarch64"

    - name: "CrowdStrike Falcon | Get the Falcon Sensor version from Update Policy"
      ansible.builtin.set_fact:
        falcon_sensor_update_policy_package_version: "{{ falcon_sensor_update_policy_info.policies[0].settings.sensor_version }}"
      when: ansible_facts['machine'] != "aarch64"

    - name: "CrowdStrike Falcon | Get the Falcon Sensor version from Update Policy for aarch64 architecture"
      ansible.builtin.set_fact:
        falcon_sensor_update_policy_package_version: "{{ falcon_sensor_update_policy_info.policies[0].settings.variants[0].sensor_version }}"
      when: ansible_facts['machine'] == "aarch64"

    - name: CrowdStrike Falcon | Override falcon_sensor_version with version from Sensor Update Policy
      ansible.builtin.set_fact:
        falcon_sensor_version: "+version:'{{ falcon_sensor_update_policy_package_version }}'"


- name: "CrowdStrike Falcon | Build API Sensor Query"
  ansible.builtin.set_fact:
    falcon_os_query: "os:'{{ falcon_target_os }}'+os_version:'{{ falcon_os_version }}'\
      {{ falcon_os_arch | default('') }}{{ falcon_sensor_version | default('') }}"


- name: CrowdStrike Falcon | Get list of filtered Falcon sensors
  ansible.builtin.uri:
    url: "https://{{ falcon_cloud }}/sensors/combined/installers/v1?sort=version|desc&filter={{ falcon_os_query | urlencode }}"
    method: GET
    return_content: true
    headers:
      authorization: "Bearer {{ falcon_api_oauth2_token.json.access_token }}"
      Content-Type: application/json
  register: falcon_api_installer_list
  no_log: "{{ falcon_api_enable_no_log }}"

- name: CrowdStrike Falcon | Validate Sensor request
  ansible.builtin.fail:
    msg: "No Falcon Sensor was found! If passing in falcon_sensor_version, ensure it is correct!"
  when: falcon_api_installer_list.json.resources[0] is not defined

- name: CrowdStrike Falcon | Download Falcon Sensor Installation Package
  ansible.builtin.get_url:
    url: "https://{{ falcon_cloud }}/sensors/entities/download-installer/v1?id={{ falcon_api_installer_list.json.resources[falcon_sensor_version_decrement | int].sha256 }}"
    dest: "{{ falcon_install_temp_directory.path }}"
    checksum: "sha256:{{ falcon_api_installer_list.json.resources[falcon_sensor_version_decrement | int].sha256 }}"
    mode: 0640
    headers:
      authorization: "Bearer {{ falcon_api_oauth2_token.json.access_token }}"
  changed_when: false
  register: falcon_sensor_download
  no_log: "{{ falcon_api_enable_no_log }}"

- name: CrowdStrike Falcon | Set full file download path
  ansible.builtin.set_fact:
    falcon_sensor_pkg: "{{ falcon_sensor_download.dest }}"
