---
- name: CrowdStrike Falcon | Set default sensor name
  ansible.builtin.set_fact:
    falcon_sensor_pkg: 'falcon-sensor'
  when:
    - falcon_sensor_pkg is not defined

- name: CrowdStrike Falcon | Transfer CrowdStrike Falcon RPM GPG key file
  ansible.builtin.copy:
    src: "{{ falcon_gpg_key }}"
    dest: "{{ falcon_install_temp_directory.path }}/{{ falcon_gpg_key }}"
    mode: 0640
  changed_when: no
  when:
    - falcon_gpg_key_check

- name: CrowdStrike Falcon | Import CrowdStrike Falcon RPM GPG key from file
  ansible.builtin.rpm_key:
    state: present
    key: '{{ falcon_install_temp_directory.path }}/{{ falcon_gpg_key }}'
  changed_when: no
  when:
    - falcon_gpg_key_check
    - ansible_facts['pkg_mgr'] in rpm_packagers

- name: CrowdStrike Falcon | Import CrowdStrike Falcon APT GPG key from file
  ansible.builtin.apt_key:
    file: '{{ falcon_install_temp_directory.path }}/{{ falcon_gpg_key }}'
    state: present
  changed_when: no
  when:
    - falcon_gpg_key_check
    - ansible_facts['pkg_mgr'] in dpkg_packagers

- name: CrowdStrike Falcon | Install Falcon Sensor Package (Linux)
  ansible.builtin.package:
    deb: "{{ falcon_sensor_pkg if (ansible_facts['pkg_mgr'] in dpkg_packagers) else omit }}"
    name: "{{ falcon_sensor_pkg if (ansible_facts['pkg_mgr'] in rpm_packagers) else omit }}"
    state: present
  when:
    - ansible_facts['pkg_mgr'] in linux_packagers

- name: CrowdStrike Falcon | Install Falcon Sensor .pkg Package (macOS)
  ansible.builtin.command: "/usr/sbin/installer -pkg {{ falcon_sensor_pkg }} -target /"
  args:
    creates: "/Applications/Falcon.app/Contents/Resources/falconctl"
  when:
    - ansible_facts['distribution'] == "MacOSX"

- name: CrowdStrike Falcon | Verify Falcon Package Is Installed
  ansible.builtin.package_facts:
    manager: auto
  when: ansible_facts['distribution'] != "MacOSX"

- name: CrowdStrike Falcon | Gather tmp install directory objects
  ansible.builtin.find:
    paths: "{{ falcon_install_tmp_dir }}"
    patterns: "ansible.*falcon"
    file_type: directory
  register: falcon_tmp_dir_objects
  when: falcon_install_tmp_dir | length > 0
  changed_when: no

- name: CrowdStrike Falcon | Remove tmp install directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ falcon_tmp_dir_objects.files }}"
  when:
    - falcon_install_tmp_dir | length > 0
    - falcon_tmp_dir_objects is defined and falcon_tmp_dir_objects.files | length > 0
  changed_when: no

- name: CrowdStrike Falcon | Remove Falcon Sensor Package (local file)
  ansible.builtin.file:
    path: "{{ falcon_localfile_path }}"
    state: absent
  when:
    - falcon_install_method == "file"
    - falcon_localfile_cleanup
  changed_when: no
