---
- name: CrowdStrike Falcon | Install Falcon Sensor .exe Package (Windows)
  ansible.windows.win_package:
    path: "{{ falcon_sensor_pkg }}"
    state: present
    creates_service: csfalconservice
    arguments: "/install /quiet CID={{ falcon_cid }} {{ falcon_windows_install_args }}"
  when:
    - ansible_facts['os_family'] == "Windows"
  register: falcon_installed
  retries: "{{ falcon_windows_install_retries }}"
  delay: "{{ falcon_windows_install_delay }}"
  until: falcon_installed is success

- name: CrowdStrike Falcon | Remove tmp install directory (Windows)
  ansible.windows.win_file:
    path: "{{ falcon_windows_tmp_dir_stat.stat.path }}"
    state: absent
  changed_when: false
