molecule
molecule-plugins[ec2]
yamllint
flake8
pylint
pre-commit
autopep8
ansible
ansible-core
ansible-lint
boto3
botocore
pywinrm
wheel
ansible-rulebook
ansible-runner
aiohttp==3.8.5
crowdstrike-falconpy==1.3.0
tox
