name: EDA Linting (tox)

on:
  push:
    paths:
      - "extensions/**"
      - ".github/workflows/eda-lint.yml"

  pull_request:
    paths:
      - "extensions/**"
      - ".github/workflows/eda-lint.yml"
permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  tox:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.x"
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox
      - name: Run tox
        run: |
          tox
