name: EDA Linting (tox)

on:
  push:
    paths:
      - "extensions/**"
      - ".github/workflows/eda-lint.yml"

  pull_request:
    paths:
      - "extensions/**"
      - ".github/workflows/eda-lint.yml"
permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  tox:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.x"
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox
      - name: Run tox
        run: |
          tox
