name: Python Lint

on:
  push:
    paths:
      - 'plugins/**'
      - '.github/workflows/linting.yml'

  pull_request:
    paths:
      - 'plugins/**'
      - '.github/workflows/linting.yml'

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  pylint:
    runs-on: ubuntu-latest
    env:
      PY_COLORS: 1
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
          python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pylint
    - name: Lint with pylint
      run: |
        find plugins/ -name "*.py" | xargs pylint
