name: Release

on:
  release:
    types:
      - created

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  release:
    if: false
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.8
      - name: Install pip
        run: |
          python -m pip install --upgrade pip
          pip install ansible
      - name: Create release artifacts
        run: |
          ansible-galaxy collection build
          ansible-galaxy collection publish *.tar.gz --api-key ${{ secrets.GALAXY_API_KEY }}
      - name: Release artifacts to GitHub
        run: |
          gh release upload $TAG ./crowdstrike-falcon*.tar.gz
        env:
          TAG: ${{ github.event.release.tag_name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload to Ansible Automation Hub
        run: |
          cat << EOF > ansible.cfg
          [galaxy]
          server_list = automation_hub

          [galaxy_server.automation_hub]
          url=https://console.redhat.com/api/automation-hub/content/inbound-crowdstrike/
          auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
          token=$AAP_KEY
          EOF
          ansible-galaxy collection publish ./crowdstrike-falcon*.tar.gz
        env:
          AAP_KEY: ${{ secrets.AAP_KEY }}
