name: "win_falcon_uninstall"
on:
  schedule:
    - cron: '0 6 * * *'
  push:
    paths:
      - 'roles/falcon_uninstall/**'
      - 'molecule/win_falcon_uninstall/**'
      - '.github/workflows/win_falcon_uninstall.yml'
  pull_request_target:
    types: [ labeled ]
    paths:
      - 'roles/falcon_uninstall/**'
      - 'molecule/win_falcon_uninstall/**'
      - '.github/workflows/win_falcon_uninstall.yml'
jobs:
  molecule:
    if: |
      github.event_name == 'push' ||
      github.event_name == 'schedule' ||
      (github.event_name == 'pull_request_target' &&
      github.event.label.name == 'ok-to-test')
    runs-on: macos-12
    env:
      PY_COLORS: 1
      ANSIBLE_FORCE_COLOR: 1
      FALCON_CLIENT_ID: ${{ secrets.FALCON_CLIENT_ID }}
      FALCON_CLIENT_SECRET: ${{ secrets.FALCON_CLIENT_SECRET }}
      FALCON_CID: ${{ secrets.FALCON_CID }}
      FALCON_PROV_TOKEN: ${{ secrets.FALCON_PROV_TOKEN }}
      OBJC_DISABLE_INITIALIZE_FORK_SAFETY: YES
    strategy:
      fail-fast: false
      matrix:
        molecule_distro:
          - { "distro":"WindowsServer2019" }
        collection_role:
          - win_falcon_uninstall
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        if: github.event_name != 'pull_request_target'

      - name: Check out code
        uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.sha}}
        if: github.event_name == 'pull_request_target'

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install molecule molecule-plugins ansible ansible-core ansible-lint pywinrm python-vagrant

      - name: Build/Install the collection
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 2
          max_attempts: 3
          retry_on: error
          command: |
            collection_file=$( basename $(ansible-galaxy collection build -f | awk -F" " '{print $NF}'))
            ansible-galaxy collection install $collection_file

      - name: Run role tests
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 30
          max_attempts: 2
          retry_on: error
          command: >-
            molecule --version &&
            ansible --version &&
            MOLECULE_DISTRO=${{ matrix.molecule_distro.distro }}
            molecule --debug test -s ${{ matrix.collection_role }} -- -v
