name: "(Windows) crowdstrike.falcon.falcon_uninstall"
on:
  push:
    paths:
      - 'roles/falcon_uninstall/**'
      - 'molecule/win_falcon_uninstall/**'
      - '.github/workflows/win_falcon_uninstall.yml'
  pull_request_target:
    types: [ labeled ]
    paths:
      - 'roles/falcon_uninstall/**'
      - 'molecule/win_falcon_uninstall/**'
      - '.github/workflows/win_falcon_uninstall.yml'
jobs:
  molecule:
    if: |
      github.event_name == 'push' ||
      github.event.label.name == 'ok-to-test'
    runs-on: macos-10.15
    env:
      PY_COLORS: 1
      ANSIBLE_FORCE_COLOR: 1
      FALCON_CLIENT_ID: ${{ secrets.FALCON_CLIENT_ID }}
      FALCON_CLIENT_SECRET: ${{ secrets.FALCON_CLIENT_SECRET }}
      FALCON_CID: ${{ secrets.FALCON_CID }}
      OBJC_DISABLE_INITIALIZE_FORK_SAFETY: YES
    strategy:
      fail-fast: false
      matrix:
        molecule_distro:
          - { "distro":"WindowsServer2012R2" }
          - { "distro":"WindowsServer2016" }
          - { "distro":"WindowsServer2019" }
        collection_role:
          - falcon_uninstall
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Set up Python
        uses: actions/setup-python@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install molecule[vagrant,lint,ansible] yamllint ansible-lint python-vagrant molecule-vagrant "pywinrm>=0.3.0"

      - name: Build/Install the collection
        run: |
          collection_file=$( basename $(ansible-galaxy collection build -f | awk -F" " '{print $NF}'))
          ansible-galaxy collection install $collection_file

      - name: Run role tests
        run: >-
          molecule --version &&
          ansible --version &&
          MOLECULE_DISTRO=${{ matrix.molecule_distro.distro }}
          molecule --debug test -s win_${{ matrix.collection_role }} -- -v
